<div class ="span12">
  <div itemprop="description" data-hook="description" class="span3" style="margin-top: 16px; margin-bottom: 20px;">
      <%= raw(@product.description.gsub(/(.*?)\r?\n\r?\n/m, '<p>\1</p>').truncate(477)) rescue t(:product_has_no_description) %>
  </div>
  <div class ="span3">
    
  </div>
  <div class ="span3" style="width : 40%; margin-top : 15px">
    <%= product_image(@product, :itemprop => "image") %>
  </div>
</div>
<%= form_for review, :url => product_reviews_path(product), :html => {:method => :post} do |f| %>
  <%= render "spree/shared/error_messages", :target => review %>

  <p class="review_rating_field">
    <%= f.label :rating %> 
    <%= render :partial => "spree/reviews/stars", :locals => {:stars => review.rating, :edit_enabled => true} %>
  </p>

  <p class="review_name_field">
    <%#= f.label :name %> 
    <%= f.text_field :name, :maxlength => "255", :size => "50" , :placeholder => "Name" %>
  </p>

  <p class="review_title_field">
    <%#= f.label :title %><br />
    <%= f.text_field :title, :maxlength => "255", :size => "50" , :placeholder => "Title"%>
  </p>
  
  <p class="review_review_field">
    <%#= f.label :review %> <span class="required">*</span><br />
    <%= f.text_area :review, :wrap => "virtual", :rows => "10", :cols => "50" , :placeholder => "Review"%>
  </p>

  <p class="review_submit">
    <%= f.submit t(:submit_your_review), :class => "button gray" %>
  </p>
<% end %>
